.idea
/inc/includes/kirki/.sass-cache
/inc/includes/kirki/node_modules
node_modules/
/inc/includes/kirki/package.json
/inc/includes/kirki/npm-debug.log

dist/
thim-core.zip

.publish/

.DS_Store

composer.lock

package-lock.json

/vendor/